AWS_REGION=eu-west-1
KINESIS_STREAM=wikimedia-stream
KINESIS_SHARDS=2
S3_RAW=wikimedia-pipeline-raw
S3_BATCH=wikimedia-pipeline-batch
DYNAMO_TABLE=wikimedia-speed-view
EMR_CLUSTER_ID=j-XXXXXXXXXXXX
ATHENA_DB=wikimedia_pipeline
ATHENA_TABLE=batch_view
S3_ATHENA_OUT=s3://wikimedia-pipeline-batch/athena-results/
DATA_SOURCE=wikimedia
WINDOW_SECONDS=300
TOP_N=10
